<form id="task_form" action="/create" method="post">
  <label>
  <strong>status</strong>
  <input type="text" id="status" name="status"/><br />   
  </label><br /> 
  <label>
  <strong>title</strong>
  <input type="text" id="title" name="title"/>
  </label><br /> 
  <label>
  <strong>worker</strong>
  <input type="text" id="worker" name="worker"/><br />   
  </label><br /> 
  <label>
  <strong>url</strong>
  <input type="text" id="url" name="url"/><br />   
  </label><br /> 
  <input type="submit" value="save"/>
</form>
